* {
    outline-color: #0091d9;
}

body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font: 13px/1.5 Arial,'Helvetica Neue',Helvetica,sans-serif;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a, div, form, h1, h2, h3, h4, h5, h6, i, img, label, li, p, span, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


button, input, select, textarea {
    font-size: 14px;
}

.form-checkbox__label {
    vertical-align: top;
    padding: 0 0 0 25px;
    cursor: pointer;
}

.form-checkbox, .form-checkbox__label, .form-checkbox__label:before {
    position: relative;
    display: inline-block;
}

.layout-internal {
    padding: 0 18px;
    flex-shrink: 0;
    background-color: #fff;
    margin: 0 auto;
}

.col-12 {
    width: 964px;
}

.clearfix::after {
    clear: both;
    height: 0;
    display: block;
    content: '.';
    visibility: hidden;
    font: 0/0 a;
}

.layout-content-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.layout-content-wrap, body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

a {
    text-decoration: none!important;
    border-bottom: 1px solid transparent;
    outline: 0;
}

.icon-link>span, .pseudo-link, a {
    color: #0091d9;
    transition: border-color .2s;
}

.l-content {
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

strong {
    font-weight: 700;
}
