* {
    outline-color: #0091d9;
}

body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font: 13px/1.5 Arial,'Helvetica Neue',Helvetica,sans-serif;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a, div, form, h1, h2, h3, h4, h5, h6, i, img, label, li, p, span, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
